body {
    margin: 56px 0 0;
    padding: 0;

}
.container{
    margin: 50px;
}
.row-content {
    padding: 40px 0;
    border-bottom: 3px solid gray;
}
img{
    width: 42.5px;
    height: 50px;
    margin-right: 10px;
}
.footertitulo, .footertexto{
    text-align: center;
}
